body{
    /*background-color:rgb(96, 248, 227);*/
    background-image: url("images/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.title{
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(96, 168, 220);
    line-height: 1.5;
    border: 2px, solid, blue;
    border-radius: 18px;
    fill: white;
    transition:0.2s;
    font-style: arial;
    font-family: cursive;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.title:hover{
    color: black;
    font: italic;
}
#title_web1{
    border: 2px,solid,green;
    border-radius: 12px;
    color:rgb(255, 255, 255);
    font-size: medium;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    background-image: url("images/bg.jpg");
    padding:7px;
    line-height: 1.4;
}
#title_web{
    background-color: rgb(109, 31, 181);
    border: 1px,solid,rgb(83, 211, 211);
    border-radius: 12px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size:medium;
    padding: 4px;
}
#title_web:hover{
    color:rgb(229, 255, 0);
    font: bold;
}

#instruction{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: medium;
    transition: 0.2s;
    border:1px,solid,blue;
    border-radius: 14px;
    margin-left: 28%;
    margin-right:28%;
    background-color: rgb(118, 233, 198);
    padding: 7px;
}
#instruction:hover{
    color:red;
    font-size: larger;
}

*{
    box-sizing: border-box;
}

.boxes1{
    float: left;
    width: 33.33%;
    padding: 20px;
}
.clearfix::after{
    content: "";
    clear:both;
    display:table;
}

.fancy_box1{
    border:solid,2px;
    border-radius: 12px;
    padding: 10px;
    transition: 0.2s;
    background-image: url("images/boxes_bg1.jpg");
}
.fancy_box1:hover{
    border:solid,2px,red;
    padding: 30px;
}

.boxes2{
    float:left;
    width:50%;
    padding:25px;
}
.fancy_box2{
    border:solid,2px;
    border-radius: 12px;
    padding: 10px;
    transition: 0.2s;
    background-image: url("images/boxes_bg2.jpg");
}
.fancy_box2:hover{
    border:2px, solid, red;
    padding:20px;
}
.fancy_box3{
    margin-left: 20%;
    margin-right: 20%;
    border: solid,2px;
    border:solid,2px;
    border-radius: 12px;
    padding: 25px;
    transition: 0.2s;
    background-image: url("images/boxes_bg3.webp");

}
.fancy_box3:hover{
    border:2px,solid,red;
    color:red;
    padding:25px;
    text-align: right;
}

.fancy_box4_1{
    color:white;
    border: solid,2px;
    border:solid,2px;
    border-radius: 12px;
    padding: 20px;
    transition: 0.2s;
    background-image: url("images/boxes_bg4.jpg");
    margin-left: 20%;
    margin-right: 20%;
}
.fancy_box4_1:hover{
    border:2px,solid,red;
    color:red;
    margin:40px;
}

.fancy_box4_2{
    color:white;
    border: solid,2px;
    border:solid,2px;
    border-radius: 12px;
    padding: 20px;
    transition: 0.2s;
    background-image: url("images/boxes_bg4.jpg");
    margin-left: 20%;
    margin-right: 20%;
}
.fancy_box4_2:hover{
    border:2px,solid,red;
    color:red;
    padding:40px;
}

.button{
    color:blue;
    background-color: greenyellow;
    animation: both;
    
}

#CSS_image{
    display: block;
    margin: auto;
    width: 22%;
}
.important{
    font: italic;
    color: red;
}

h2{
    border:solid,2px,white;
    background-image: url("images/grandient\ color1.png");
    border-radius: 14px;
    margin-left: 40%;
    margin-right: 40%;
    color: black;
    transition: 0.2s;
    text-align: center;
}

h2:hover{
    font: bold;
    color:red;
}
.dark_bg{
    background-color: rgb(255, 255, 255);
    border: solid, 2px;
    margin-right: 350px;
    transition:0.2s;
}
.dark_bg:hover{
    background-color: rgb(255, 255, 255);
    border: solid, 2px, red;
    margin-right: 350px;
}


#color{
    line-height: 1.5;
    transition: 0.2s;
}
#color:hover{
    color:red;
}
#bgcolor{
    line-height: 1.5;
    transition: 0.2s;
}
#bgcolor:hover{
    background-color: yellow;
}
#font{
    line-height: 1.5;
    transition: 0.2s;
}
#font:hover{
    font-size: 30px;
}
#font-family{
    line-height: 1.5;
    transition: 0.2s;
}
#font-family:hover{
    font-family: cursive;
}

.fancy_box5_1{
    line-height: 2;
    transition: 0.2s;
    background-image: url("images/grandient\ color2.png");
    padding: 10px;
    margin-left: 25%;
    margin-right: 15%;
}
.fancy_box5_1:hover{
    border: 5px,solid,blue;
}
.fancy_box5_2{
    line-height: 2;
    transition: 0.2s;
    background-image: url("images/grandient\ color2.png");
    padding: 10px;
    margin-left: 15%;
    margin-right: 25%;
}
.fancy_box5_2:hover{
    border: 5px,solid,blue;
    border-radius: 50px;
    transition: 0.2s;
}

.subtitle1{
    border: 2px,solid,rgb(207, 206, 206);
    text-align: center;
    border-radius: 15px;
    line-height: 1.6;
    background-image: url("images/grandient\ color3.png");
    margin-left: 20%;
    margin-right: 20%;
    transition: 0.2s;
}
.subtitle1:hover{
    color: blue;
    border: 2px,solid,black;
    padding: 10px;
}

.fancy_box6{
    padding: 10px;
    color:white;
    background-image: url("images/grandient\ color1.png");
    border: 2px,solid,rgb(207, 206, 206);
    text-align: center;
    border-radius: 15px;
    transition: 0.2s;
}
.fancy_box6:hover{
    padding: 25px;
    border: rgb(255, 242, 0),solid,2px;
    color:rgb(242, 255, 0);
}
.relative{
    padding: 10px;
    position: relative;
    margin-right: 40px;
}

.dark_font{
    color: red;
    line-height: 1.4;
}

#fixed{
    position:fixed;
    border:2px,solid,white;
    border-radius: 15px;
    background-image: url("images/grandient\ color2.png");
}
.middle{
    text-align: center;
}
#absolute{
    position:absolute;
    border:2px,solid,white;
    border-radius: 15px;
    background-image: url("images/grandient\ color2.png");
}
#relative2{
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    border:2px,solid,white;
    border-radius: 15px;
    background-image: url("images/grandient\ color2.png");
}

#original_box{
    color:white;
    border: 2px, solid, black;
    border-radius: 12px;
    line-height: 1.5;
    padding: 12px;
    background-image: url("images/grandient\ color5.png");
}
#hover{
    color:white;
    border: 2px, solid, black;
    border-radius: 12px;
    line-height: 1.1;
    padding: 11px;
    background-image: url("images/grandient\ color5.png");
    transition: 0.3s;
}
#hover:hover{
    line-height: 1.5;
    padding: 20px;
    margin: 10px;
    border: 2px,solid,red;
    color:rgb(248, 248, 248);
    background-image: url("images/Boxes_bg5_2.png");
    font-size: larger;
    font-style: italic;
}
#hover2{
    border: 2px,solid,black;
    color:white;
    border: 2px, solid, black;
    border-radius: 12px;
    line-height: 1.1;
    padding: 20px;
    background-image: url("images/grandient\ color5.png");
    transition: 0.3s;
    margin-right: 29%;
}
#hover2:hover{
    padding: 25px;
    font-size: large;
}

.fancy_box7{
    border: 2px,solid,white;
    border-radius: 13px;
    color: white;
    text-align: center;
    background-image: url("images/boxes_bg7.png");
    margin-left: 31%;
    margin-right: 31%;
    line-height: 1.3;
    padding: 8px;
    transition: 0.3s;
}
.fancy_box7:hover{
    color:aqua;
    border: 2px,solid,aqua;
    padding: 20px;
    line-height: 1.7;
}

.container{
    border-radius: 10px;
    border: 2px,solid,black;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background-image: url("images/boxes_bg3.webp");
    transition: 0.2s;
}
.container:hover{
    border: 2px, solid,red;
    background-image: url("images/boxes_bg5.png");
}
.container div{
    border: 2px,solid,black;
    border-radius: 10px;
    background-image: url("images/bg3.png");
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    text-align: center;
}
.container div:hover{
    border: 2px,solid,rgb(255, 255, 255);
    color: red;

}

.color_change{
    margin: 10px;
    padding: 15px;
    line-height: 4;
    animation: colorChange 3s infinite alternate;
    transition: 0.2s;
}
.color_change:hover{
    font-style: italic;
    border: 4px,red,solid;
}
@keyframes colorChange{
    0%{
        color: red;
        background-color: green;
        border: 2px,solid,red;
    }
    20%{
        color: orange;
        background-color: blue;
        border: 2px,solid,orange;
    }
    40%{
        color: yellow;
        background-color: purple;
        border: 2px,solid,yellow;
    }
    60%{
        color:rgb(67, 221, 67);
        background-color: red;
        border: 2px,solid,rgb(67,211,67);
    }
    80%{
        color: cyan;
        background-color: rgb(255, 94, 0);
        border: 2px,solid,cyan;
    }
    100%{
        color: purple;
        background-color: yellow;
        border: 2px,solid,purple;
    }
}

.fancy_box8{
    border: 2px,solid,black;
    border-radius: 10px;
    background-image: url("images/grandient\ color1.png");
    margin: 10px;
    padding: 30px;
    font-size: 24px;
    text-align: center;
    transition: 0.2s;
}
.fancy_box8:hover{
    border: red,2px,solid;
    margin: 20px;
}

#flex_box{
    border: 2px,solid,white;
    border-radius: 10px;
    background-image: url("images/grandient\ color3.png");
    padding: 5px;
    transition: 0.2s;
}
#flex_box:hover{
    border: red,solid,2px;
    background-image: url("images/grandient\ color4.png");
}

.fancy_box9{
    color: white;
    text-align: left;
    border: 2px,solid,white;
    border-radius: 10px;
    background-image: url("images/grandient\ color5.png");
    padding: 5px;
    transition: 0.2s;
    margin-left: 30%;
    margin-right: 30%;
    line-height: 1.5;
    padding: 15px;
}
.fancy_box9:hover{
    border: rgb(0, 0, 0),2px,solid;
    padding: 10px;
}

.bg2{
    background-image: url("images/bg4.png");
}

.nb{
    border: 2px, solid;
    border-radius: 12px;
    font-size: large;
    padding: 15px;
    margin: 20px;
    transition: 0.2s;
}
.nb:hover{
    border: 3px,solid,red;
    padding: 25px;
    color:red;
    background-image: url("images/grandient\ color1.png");
}

.go_back{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    border: 2px, solid;
    border-radius: 12px;
    font-size: large;
    padding: 15px;
    background-image: url("images/grandient\ color2.png");
    transition: 0.2s;
}
.go_back:hover{
    border: 3px,solid,red;
    padding: 25px;
    color:red;
    background-image: url("images/grandient\ color1.png");
}